<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts</title>
</head>
<body>
    <h1>Your Thoughts</h1>
    <% thoughts.forEach(function(thought) { %>
        <p><%= thought.thoughts %></p>
    <% }); %>
</body>
</html>
